<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Measurement units</string>
			<key>Key</key>
			<string>measurement_units</string>
			<key>DefaultValue</key>
			<string>inches</string>
			<key>Titles</key>
			<array>
				<string>inches</string>
				<string>feet</string>
				<string>millimeters</string>
				<string>centimeters</string>
			</array>
			<key>Values</key>
			<array>
				<string>inches</string>
				<string>feet</string>
				<string>millimeters</string>
				<string>centimeters</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
